[submodule "wp-content/themes/alc-wp-theme-network"]
	path = wp-content/themes/alc-wp-theme-network
	url = git@github.com:AgileLearningCenters/alc-wp-theme-network.git
[submodule "wp-content/themes/alc-wp-theme-make-child"]
	path = wp-content/themes/alc-wp-theme-make-child
	url = git@github.com:AgileLearningCenters/alc-wp-theme-make-child.git
