# Exclude these files from the git repo
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
sitemap.*
wp-config.php

# We ignore this useful (and dangerous) script for setting up local environment, you can get it from: https://github.com/interconnectit/Search-Replace-DB.git
search-replace-db/

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
*.swp

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess
